@page "/view/{Id}"
@page "/{Path}/{Id}"
@inject HttpClient _client
@* Displays an image or markdown file based on the file extension and provides a link to the page where the file was found. *@
@try
{
    @if (IsFinished)
    {
        <DynMeta Description="@Description" PreviousPage="@PathTitle" Name="@Title" />
        @if (!string.IsNullOrEmpty(Markdown)
&& Filename.Contains("md", StringComparison.CurrentCultureIgnoreCase))
        {
            <div class="story">
                <p>
                    @Markdown.MarkdownToHtml()
                </p>
            </div>
        }
        else
        {
            <div align="center">
                <img src="/images/@Path/@Filename" />
            </div>
        }
        <p align="center">
            Return to <a href="/@Path">@PathTitle</a> page
        </p>
    }
    else
    {
        <LoadingBar />
    }
}
catch
{
    <NotFound Message="@ErrorMessage" />
}

@code {

    /// <summary>
    /// The unique identifier for the gallery item being displayed.
    /// </summary>
    [Parameter] public string Id { get; set; } = string.Empty;

    /// <summary>
    /// The path of the gallery item being displayed.
    /// </summary>
    [Parameter] public string Path { get; set; } = "gallery";

    /// <summary>
    /// The name of the file being displayed.
    /// </summary>
    string Filename { get; set; } = string.Empty;

    /// <summary>
    /// The description of the gallery item being displayed.
    /// </summary>
    string Description { get; set; } = string.Empty;

    /// <summary>
    /// The title of the gallery item being displayed.
    /// </summary>
    string Title { get; set; } = string.Empty;

    /// <summary>
    /// The markdown content of the gallery item being displayed.
    /// </summary>
    string Markdown { get; set; } = string.Empty;

    /// <summary>
    /// Indicates whether the gallery item has finished loading.
    /// </summary>
    bool IsFinished { get; set; } = false;

    /// <summary>
    /// The error message that occurred while loading the gallery item.
    /// </summary>
    string ErrorMessage { get; set; } = string.Empty;

    string PathTitle { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            // Get the CSV file from the server and retrieve the data for the requested gallery item.
            var file = await _client.GetStreamAsync(GlobalConsts.GALLERY_CSV);
            var csv = GalleryDB.Reader(file, int.Parse(Id));

            // Convert the path to title case for displaying on the page.
            var culture = new CultureInfo("en-US", false);
            var txtInfo = culture.TextInfo;
            Path = csv.Path;
            PathTitle = txtInfo.ToTitleCase(Path);

            // Set the filename and load the markdown content if it exists.
            Filename = csv.Filename;
            if (Filename.Contains("md", StringComparison.CurrentCultureIgnoreCase))
            {
                var mdfile = _client.GetStringAsync($"{csv.Path}/{csv.Filename}");
                var mdContent = await mdfile;
                Markdown = mdContent;
            }

            if (!string.IsNullOrEmpty(csv.Description))
                Description = csv.Description;

            // Determine the page title, which is either the title in the CSV file or the filename with some
            // transformations applied to make it more readable.
            if (!string.IsNullOrEmpty(csv.Title) || !string.IsNullOrWhiteSpace(csv.Title))
                Title = csv.Title;
            else
            {
                var oldName = Filename;
                Title = txtInfo.ToTitleCase(oldName
                    .Replace("zc", "Zack", StringComparison.CurrentCultureIgnoreCase)
                    .Replace("_z", " Zack", StringComparison.CurrentCultureIgnoreCase)
                    .Replace("z_", "Zack ", StringComparison.CurrentCultureIgnoreCase)
                    .Replace('_', ' ')
                    .Replace(".png", string.Empty, StringComparison.CurrentCultureIgnoreCase)
                    .Replace(".jpg", string.Empty, StringComparison.CurrentCultureIgnoreCase)
                    .Replace(".gif", string.Empty, StringComparison.CurrentCultureIgnoreCase)
                    .Replace(".md", string.Empty, StringComparison.CurrentCultureIgnoreCase)
                    .ToString());
            }

            // Set the flag indicating that the page is finished loading.
            IsFinished = true;
        }
        catch (Exception err)
        {
            // If an error occurs, throw an exception to display the "Not Found" page.
            ErrorMessage = err.Message;
        }
    }
}

