@if (!string.IsNullOrEmpty(PreviousPage))
{
    <PageTitle>@Name - @PreviousPage - @GlobalConsts.SITE_NAME</PageTitle>
}
else
{
    <PageTitle>@Name - @GlobalConsts.SITE_NAME</PageTitle>
}

<HeadContent>
    <meta content="article" property="og:type" data-rh="true">
    @if (!string.IsNullOrEmpty(Image))
    {
        <meta content="@Image" property="og:image" data-rh="true">
    }
    <meta name="title" content="@Name - @GlobalConsts.SITE_NAME" property="og:title" data-rh="true">
    @if (!string.IsNullOrEmpty(Description))
    {
        <meta description="@Description" name="description" data-rh="true">
        <meta name="description" content="@Description" property="og:description" data-rh="true">
    }
</HeadContent>
<div>
    @if (Heading)
    {
        <h2>@Name</h2>
    }
    @if (!string.IsNullOrEmpty(Description))
    {
        <p>@Description</p>
    }
</div>

@code {

    /// <summary>
    /// The name of the page that will be displayed in the title and heading elements.
    /// </summary>
    /// <value>A string representing the name of the page. The default value is an empty string.</value>
    [Parameter]
    public string? Name { get; set; } = string.Empty;

    /// <summary>
    /// A value indicating whether a heading element will be displayed on the page.
    /// </summary>
    /// <value><c>true</c> if a heading element will be displayed; otherwise, <c>false</c>. The default value is <c>true</c>.</value>
    [Parameter]
    public bool Heading { get; set; } = true;

    /// <summary>
    /// The URL of the image that will be displayed in the Open Graph protocol meta tags.
    /// </summary>
    /// <value>A string representing the URL of the image. The default value is an empty string.</value>
    [Parameter]
    public string Image { get; set; } = string.Empty;

    /// <summary>
    /// The name of the previous page, which will be displayed in the title element along with the name of the current page.
    /// </summary>
    /// <value>A string representing the name of the previous page. The default value is an empty string.</value>
    [Parameter]
    public string? PreviousPage { get; set; } = string.Empty;

    /// <summary>
    /// The description of the page that will be displayed in the meta description tag.
    /// </summary>
    /// <value>A string representing the description of the page. The default value is an empty string.</value>
    [Parameter]
    public string? Description { get; set; } = string.Empty;
}

