@if (!string.IsNullOrEmpty(Previous))
{
    <PageTitle>@Name - @Previous - @GlobalConsts.SITE_NAME</PageTitle>
}
else
{
    <PageTitle>@Name - @GlobalConsts.SITE_NAME</PageTitle>
}

<HeadContent>
    <meta content="article" property="og:type" data-rh="true">
    @if (!string.IsNullOrEmpty(Image))
    {
        <meta content="@Image" property="og:image" data-rh="true">
    }
    <meta name="title" content="@Name - @GlobalConsts.SITE_NAME" property="og:title" data-rh="true">
</HeadContent>
<div>
    @if (Heading)
    {
        <h1>@Name</h1>
    }
    @if (!string.IsNullOrEmpty(Authors))
    {
        <sup>By @Authors</sup>
    }
</div>

@code {

    /// <summary>
    /// The Name of the current page.
    /// </summary>
    [Parameter, EditorRequired]
    public string? Name { get; set; } = string.Empty;

    /// <summary>
    /// Determines whether or not to display the heading.
    /// </summary>
    [Parameter]
    public bool Heading { get; set; } = true;

    [Parameter]
    public string Authors { get; set; } = string.Empty;

    /// <summary>
    /// The image URL to use for Open Graph meta tags.
    /// </summary>
    [Parameter]
    public string Image { get; set; } = string.Empty;

    /// <summary>
    /// The name of the previous page visited by the user.
    /// </summary>
    [Parameter, SupplyParameterFromQuery]
    public string Previous { get; set; } = string.Empty;

}

