<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">
                <div align="center">
                    <img src="images/XDsquare.png" />
                    <p class="style1">ERROR 404. This is not a drill!!!!</p>
                    <p>All your *Censor* are *Blank* to *Censor*! ... COMMAND:Zc456.exe explosion=1 art=1 cheats=none</p>
                    <p>Cheat(Zc456.exe)= if (Var_Gender=&quot;Male&quot;){Var_Gender=&quot;Female&quot;}</p>
                    <p>if (z.getApetite()==hungry){z.eatMorePizzas();}else{z.wellWhatAboutPie()}</p>
                    <p>popochi=( 100x 0 )r4 78x{ ZERO }=949(15)(20)= &quot;bleh&quot; = &quot;I LIKE PIE&quot;= Popochi</p>
                    <p>ERROR: Programming code + 1337 sP33cH + ZC456 + 5 years = furry manga?(...It's not like I'm trying to *coughIlikepieDrawfurryIlikepiecough* suggest anything...)</p>
                </div>
            </p>
        </LayoutView>
    </NotFound>
</Router>

